body {
    background-color: grey;  
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

form {
    padding-top: 200px;
}

.search {
    width: 380px;
    background-color: #585858;
    padding: 5px;
}

.search div {
    background-color: #434343;
    width: 380px;
    border-radius: 5px;
}

input[type="text"] {
    width: 278px;
    height: 28px;
    margin: 8px;
    margin-right: 0;
    border: none;
    padding: 0 0 0 5px;   
}

input[placeholder] {
    font-size: 12px;
    font-style: italic;
}


input[type="submit"] {
    width: 83px;
    height: 28px;
    color: white;
    border: none;
    margin-left: -4px;
    background: url(image/search_btn.png) no-repeat;  
    padding: 0 0 0 8px;      
}

input[value] {
    font-size: 12px;
    font-weight: bold;
}
