body {
    background-color: grey;  
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section-form {
    padding: 15px;
    margin-top:200px;

  }

.section-form .form {
    position: relative;
    border-radius: 5px;
    border: 10px solid #585858;
    padding-right: 4px;
}


input[type="text"] {
    width: 266px;
    height: 28px;
    margin-right: 0;
    border: none;
    padding: 0 0 0 18px;   
    background: url(image/baseline_search_black_18dp.png) no-repeat 0 50%;
    background-color: white;
}

input[placeholder] {
    font-size: 12px;
    font-style: italic;
}


.section-form .submit {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: 14px;
    outline: none;
    height: 28px;
    background:red;
    color: #fff;
    cursor: pointer;  
}

.section-form .submit:after {
    content: '';
    top: 50%;
    width: 8px;
    height: 8px;
    background: red;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    left: -4px;
  }