body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}


.main_table {
    width: 825px;
    height: 1025px;
}

/*.main_table td { 
    border: 1px dotted white;
}*/

.div_rounded {
    border: 1px solid black; 
    border-radius: 20px 0;
}

.div_one {
    height: 25px;
    margin-left: 125px;
}

.div_two {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 52px;
}

.div_float {
    float: left;
    width: 125px;
    
    
    padding-left: 50px;
    padding-top: 6px;
}

.div_month {
    margin-top: 40px;
}

.font_big {
    font-size: 1.3em;
}

#span_zd {
    padding-left: 100px;
  

}

.rotatable{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-top: 60px;
    margin-bottom: -60px;
    font-size: 1.15em;
}

.div_line {
    height: 120px;
    border-right: 1px solid black;
    margin-right: 12px;
    margin-top: -69px;
}

.td_c{
    width: 30px;
}

.td_zd{
    width: 367px;  
}

.td_pred{
    width: 160px;
}

.table_day
{
    /*border-collapse: collapse;*/
    width: 717px;
    height: 250px;
    font-size: 1.15em;
}

.table_day td:not(.td_c)  { 
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 10px;

}



.td_ul {
    border: 1px solid black;
    border-radius: 20px 0px 0px 0px;
    padding-left: 10px;
}

.td_bl {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 0px 20px;
    padding-left: 10px;
}

.td_br {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 0px 20px;
    padding-left: 10px;
}